<template>
    <div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Lista de Empleados</h4>
                        <div class="row">
                            <div class="col-sm-4 form-inline">
                                <label>Ver
                                    <select class="form-control" v-model="perPage" v-on:change="getEmployees(perPage,1,name,type)">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                    entradas
                                </label>

                            </div>
                            <div class="col-sm-3">
                                <!--<label class="form-group is-empty">-->
                                    <!--<input type="search"-->
                                           <!--class="form-control"-->
                                           <!--placeholder="Buscar por Cedula"-->
                                           <!--v-model="card_number"-->
                                           <!--@keyup.enter="getDrivers(perPage,1,name,card_number,type)"-->
                                           <!--@keyup.esc="card_number=''">-->
                                    <!--<span class="material-input"></span>-->
                                <!--</label>-->
                            </div>
                            <div class="col-sm-3">
                                <label class="form-group is-empty">
                                    <input type="search"
                                           class="form-control"
                                           placeholder="Buscar por Nombre"
                                           v-model="name"
                                           @keyup.enter="getEmployees(perPage,1,name,type)"
                                           @keyup.esc="name=''">
                                    <span class="material-input"></span>
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary" @click="newEmployee">Nuevo</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>N° Identificacion</th>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th width="10%"><i class="material-icons">build</i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="employee in employees">
                                    <td>{{employee.id}}</td>
                                    <td>{{employee.card_number}}</td>
                                    <td>{{employee.name}}</td>
                                    <td>{{employee.address}}</td>
                                    <td>{{employee.phone}}</td>
                                    <td>
                                        <button style="padding: 5px 8px;!important;" type="button" class="btn btn-warning" data-original-title="Editar" title="Editar" @click="edit(employee)">
                                            <i class="material-icons">find_in_page</i>
                                        </button>
                                        <button style="padding: 5px 8px;!important;"
                                                type="button"
                                                :class="{'btn':true,'btn-danger':!employee.state,'btn-success':employee.state}"
                                                data-original-title="Desactivar"
                                                title="Desactivar"
                                                @click="softDelete(employee)">
                                            <i class="material-icons">verified_user</i>
                                        </button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pagination-primary">
                            <!--
                                color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                            -->
                            <li class="page-item">
                                <a href="#" :class="{'page-link':true,'disabled':isFirstPage()}" @click.prevent="changePage(perPage,pagination.current_page - 1,name,type)">Ant</a>
                            </li>
                            <li :class="{'page-item':true,'active':page === pagination.current_page}" v-for="page in pagesNumber" :key="page">
                                <a class="page-link" href="#" @click.prevent="changePage(perPage,page,name,type)" v-text="page"></a>
                            </li>
                            <li class="page-item" >
                                <a href="#" :class="{'page-link':true,'disabled':isLastPage()}"  @click.prevent="changePage(perPage,pagination.current_page + 1,name,type)">Sig</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{title}} Empleado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">N° Identificación</label>
                                    <input type="text" class="form-control text-uppercase"
                                           v-model="employee.card_number" name='card_number'>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Empleado</label>
                                    <input type="text" class="form-control text-uppercase" v-model="employee.name" name='employeename'>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Dirección</label>
                                    <input type="text" class="form-control text-uppercase" v-model="employee.address">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Teléfono</label>
                                    <input type="text" class="form-control" v-model="employee.phone" @keyup.enter="storeEmployee">
                                    <span class="material-input"></span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group alert alert-danger" v-if="hasServerErrors()">
                            <ul>
                                <li v-for="serverError in serverErrors">
                                    {{ serverError[0] }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button v-if="title==='Nuevo'" type="button" class="btn btn-success" @click="storeEmployee">Guardar</button>
                        <button v-if="title==='Editar'" type="button" class="btn btn-success" @click="updateEmployee">Guardar Cambios</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                employees:[],
                title:'Nuevo',
                pagination : {
                    total : 0,
                    current_page : 0,
                    per_page : 0,
                    last_page : 0,
                    from : 0,
                    to : 0,
                },
                employee:{
                    id:'',
                    card_number:'',
                    name:'',
                    comments:'',
                    address:'',
                    phone:'',
                    state:'',
                    type:''
                },
                offset : 3,
                name:'',
                perPage:5,
                type:'EMPLOYEE',
                serverErrors:[],
                hasServErr:false,
            }
        },
        methods:{
            clearData(){
                this.employee={
                    id:'',
                    card_number:'',
                    name:'',
                    comments:'',
                    address:'',
                    phone:'',
                    state:'',
                    type:''
                };
                this.serverErrors=[];
                this.hasServErr = false;
                this.title='Nuevo';
            },
            changePage:function (perPage,page,name,type) {
                this.pagination.current_page = page;
                this.getEmployees(perPage,page,name,type);
            },
            hasServerErrors:function(){

                return this.hasServErr;

            },
            getEmployees(perPage,page,name,type){
                let route = this.$parent.$refs.listEmployeeRoute.value;

                axios({
                    url:route,
                    method:'get',
                    params:{
                        perPage,
                        page,
                        name,
                        type
                    }
                }).then(response=>{
                    this.employees=response.data.data;
                    this.pagination.total=response.data.total;
                    this.pagination.current_page=response.data.current_page;
                    this.pagination.per_page=response.data.per_page;
                    this.pagination.from=response.data.from;
                    this.pagination.last_page=response.data.last_page;
                    this.pagination.to=response.data.to;
                });
            },
            isActived: function(){
                return this.pagination.current_page;
            },
            isLastPage:function(){
                return this.pagination.current_page >= this.pagination.last_page  ;
            },
            isFirstPage:function(){
                return this.pagination.current_page === 1  ;
            },
            edit(employee){

                this.title='Editar';
                this.employee.id=employee.id;
                this.employee.name=employee.name;
                this.employee.issued=employee.comments;
                this.employee.address=employee.address;
                this.employee.phone=employee.phone;

                $("#modalForm").find("div.form-group").removeClass('is-empty');

                $("#modalForm").modal('show');
            },
            newEmployee(){
                this.clearData();
                this.title='Nuevo';
                $("#modalForm").find("div.form-group").addClass('is-empty');
                $("#modalForm").modal('show');
            },
            storeEmployee(){
                let route=this.$parent.$refs.storeEmployeeRoute.value;
                axios.post(route,{
                    name:this.employee.name?this.employee.name.toUpperCase():'',
                    name:this.employee.name?this.employee.name.toUpperCase():'',
                    issued:this.employee.comments?this.employee.comments.toUpperCase():'',
                    address:this.employee.address?this.employee.address.toUpperCase():'',
                    phone:this.emplemployeeoyee.phone,
                    type:'EMPLOYEE'
                }).then(response=>{
                    demo.showNotification('bottom','right','Agregado correctamente!','success',2000)
                    this.getEmployees(this.perPage,1,this.name,this.type);
                    this.clearData();
                    $("#modalForm").modal('hide');
                }).catch(error=>{
                    this.serverErrors=error.response.data.errors;
                    this.hasServErr = true;
                });
            },
            updateEmployee(){
                let route = this.$parent.$refs.storeEmployeeRoute.value+"/"+this.employee.id;
                axios.put(route,{
                    name:this.employee.name?this.employee.name.toUpperCase():'',
                    issued:this.employee.comments?this.employee.comments.toUpperCase():'',
                    address:this.employee.address?this.employee.address.toUpperCase():'',
                    phone:this.employee.phone,
                    type:'EMPLOYEE'
                }).then(response=>{
                    swal({
                        type:'success',
                        text:'Actualizado correctamente!',
                        timer:2000
                    });
                    this.clearData();
                    this.getEmployees(this.perPage,1,this.name,this.type);
                    $("#modalForm").modal('hide');
                }).catch(error=>{
                    this.serverErrors=error.response.data.errors;
                    this.hasServErr = true;
                });
            },
            softDelete(employee){
                let route = this.$parent.$refs.storeEmployeeRoute.value+"/"+employee.id;
                swal({
                    title: 'Estas seguro?',
                    text: "Serás capaz de revertir esto!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: employee.state ?'Si, deshabilitar!':'Si, Activar'
                }).then((result) => {
                    if (result) {
                        axios.delete(route).then(response=>{
                            swal({
                                type:'success',
                                text:'Desactivado correctamente!',
                                timer:2000
                            });
                            this.getEmployees(this.perPage,1,this.name,this.type);
                        }).catch(error=>{
                            console.log(error);
                        });
                    }
                    console.log(result);
                });

            }
        },
        computed:{
            pagesNumber() {
                if(!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                let pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
        },
        mounted(){
            this.getEmployees(this.perPage,1,this.name,this.type);
        }

    }

</script>

