<template>
    <div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Lista de Vehículos</h4>
                        <div class="row">
                            <div class="col-sm-4 form-inline">
                                <label>Ver
                                    <select class="form-control" v-model="perPage" v-on:change="getCars(perPage,1,searchText)">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                    entradas
                                </label>

                            </div>
                            
                            <div class="col-sm-6">
                                <label class="form-group is-empty" style="width:100%;">
                                    <input type="search"
                                           class="form-control text-uppercase"
                                           style="width:100%; !important;"
                                           placeholder="Conductor, propietario o Nro de Movil"
                                           v-model="searchText"
                                           @keyup.enter="getCars(perPage,1,searchText)"
                                           @keyup.esc="searchText=''">
                                    <span class="material-input"></span>
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary" @click="newCar">Nuevo</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>No. Placa</th>
                                    <th>No. Movil</th>
                                    <th>Servicio</th>
                                    <th>Conductor</th>
                                    <th>Propietario</th>
                                    <th width="10%"><i class="material-icons">build</i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="car in cars" class="text-uppercase">
                                    <td>{{car.plate}}-{{car.issued}}</td>
                                    <!--numero de movil-->
                                    <td>{{car.description}}</td>
                                    <td>
                                        <button style="padding: 5px 8px;!important;"
                                                type="button"
                                                :class="{'btn':true,'btn-danger':!car.in_service,'btn-success':car.in_service}"
                                                data-original-title="Desactivar Servicio"
                                                :title="car.in_service?'Bajar servicio':'Poner en servicio'"
                                                @click="changeService(car)">
                                            <i class="material-icons">time_to_leave</i>
                                        </button>
                                    </td>
                                    <td>{{car.driver.name}}</td>
                                    <td>{{car.owner.name}}</td>
                                    <td>
                                        <button style="padding: 5px 8px;!important;" type="button" class="btn btn-warning" data-original-title="Editar" title="Editar" @click="edit(car)">
                                            <i class="material-icons">find_in_page</i>
                                        </button>
                                        <button style="padding: 5px 8px;!important;"
                                                type="button"
                                                :class="{'btn':true,'btn-danger':!car.state,'btn-success':car.state}"
                                                data-original-title="Desactivar"
                                                :title="car.state?'Desactivar':'Activar'"
                                                @click="softDelete(car)">
                                            <i class="material-icons">verified_user</i>
                                        </button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pagination-primary">
                            <!--
                                color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                            -->
                            <li class="page-item">
                                <a href="#" :class="{'page-link':true,'disabled':isFirstPage()}" @click.prevent="changePage(perPage,pagination.current_page - 1,searchText)">Ant</a>
                            </li>
                            <li :class="{'page-item':true,'active':page === pagination.current_page}" v-for="page in pagesNumber" :key="page">
                                <a class="page-link" href="#" @click.prevent="changePage(perPage,page,searchText)" v-text="page"></a>
                            </li>
                            <li class="page-item" >
                                <a href="#" :class="{'page-link':true,'disabled':isLastPage()}"  @click.prevent="changePage(perPage,pagination.current_page + 1,searchText)">Sig</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{title}} Vehículo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Nº Móvil</label>
                                    <textarea class="form-control text-uppercase" rows="1" v-model="car.description"></textarea>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div :class="{'form-group':true,'label-floating':true,'is_empty':false}">
                                    <label class="control-label">Nº Placa</label>
                                    <input type="text" class="form-control text-uppercase" v-model="car.plate">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-3">
                                <select v-model="car.issued" class="form-control">
                                    <option disabled selected value="">Expedido en</option>
                                    <option value="OR">Oruro</option>
                                    <option value="PT">Potosi</option>
                                    <option value="LP">La Paz</option>
                                    <option value="BN">Beni</option>
                                    <option value="PA">Pando</option>
                                    <option value="CB">Cochabamba</option>
                                    <option value="SC">Santa Cruz</option>
                                    <option value="CH">Chuquisaca</option>
                                    <option value="TJ">Tarija</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Conductor</label>
                                    <input type="text" class="form-control text-uppercase" v-model="driver" @keyup="getPeople(driver,'DRIVER')">
                                    <span class="material-input"></span>
                                </div>
                                <div :class="{'list-group':true}" v-if="drivers.length" ref="driverlist">
                                    <a href="#"
                                       class="list-group-item list-group-item-action"
                                       @click.prevent="selectDriver(dri)"
                                       v-for="dri in drivers">
                                        {{dri.name}}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Propietario</label>
                                    <input type="text" class="form-control text-uppercase" v-model="owner" @keyup="getPeople(owner,'OWNER')" @keyup.enter="storeCar">
                                    <span class="material-input"></span>
                                </div>
                                <div :class="{'list-group':true}" v-if="owners.length" ref="ownerlist">
                                    <a href="#"
                                       class="list-group-item list-group-item-action"
                                       @click.prevent="selectOwner(own)"
                                       v-for="own in owners">
                                        {{own.name}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group alert alert-danger" v-if="hasServerErrors()">
                            <ul>
                                <li v-for="serverError in serverErrors">
                                    {{ serverError[0] }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button v-if="title==='Nuevo'" type="button" class="btn btn-success" @click="storeCar">Guardar</button>
                        <button v-if="title==='Editar'" type="button" class="btn btn-success" @click="updateCar">Guardar Cambios</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                cars:[],
                drivers:[],
                owners:[],
                title:'Nuevo',
                pagination : {
                    total : 0,
                    current_page : 0,
                    per_page : 0,
                    last_page : 0,
                    from : 0,
                    to : 0,
                },
                car:{
                    id:'',
                    description:'',//numero de movil
                    person_id:'',
                    driver_id:'',
                    plate:'',
                    issued:'',
                    state:'',
                    in_service:true
                },
                offset : 3,
                searchText:'',
                perPage:5,
                serverErrors:[],
                hasServErr:false,
                driver:'',
                owner:''
            }
        },
        methods:{
            clearData(){
                this.car={
                    id:'',
                    description:'',
                    person_id:'',
                    driver_id:'',
                    plate:'',
                    issued:'',
                    state:'',
                    in_service:true
                };
                this.serverErrors=[];
                this.hasServErr = false;
                this.title='Nuevo';
            },
            changePage:function (perPage,page,searchText) {
                this.pagination.current_page = page;
                this.getCars(perPage,page,searchText);
            },
            hasServerErrors:function(){

                return this.hasServErr;

            },
            getCars(perPage,page,searchText){



                let route = this.$parent.$refs.listCarRoute.value;

                axios({
                    url:route,
                    method:'get',
                    params:{
                        perPage,
                        page,
                        searchText
                    }
                }).then(response=>{
                    this.cars=response.data.data;
                    this.pagination.total=response.data.total;
                    this.pagination.current_page=response.data.current_page;
                    this.pagination.per_page=response.data.per_page;
                    this.pagination.from=response.data.from;
                    this.pagination.last_page=response.data.last_page;
                    this.pagination.to=response.data.to;
                });
            },
            getPeople(name,type) {

                if (name === '')
                {
                    this.owners=[];
                    this.drivers=[];
                } else {
                    let route=this.$parent.$refs.listDriverRoute.value;
                    axios({
                        url:route,
                        params:{
                            name
                        }
                    }).then(response=>{
                        if(type==='DRIVER')
                            this.drivers=response.data;
                        else this.owners=response.data;
                    }).catch(error=>{
                        console.log(error.response.data);
                    });
                }

            },
            isActived: function(){
                return this.pagination.current_page;
            },
            isLastPage:function(){
                return this.pagination.current_page >= this.pagination.last_page  ;
            },
            isFirstPage:function(){
                return this.pagination.current_page === 1  ;
            },
            edit(car){

                this.title='Editar';
                this.car.id=car.id;
                this.car.description=car.description;//numero de movil
                this.car.person_id=car.person_id;
                this.car.driver_id=car.driver_id;
                this.car.issued=car.issued;
                this.car.plate=car.plate;

                let owner_route = this.$parent.$refs.getDriverRoute.value+"/"+car.person_id;

                axios.get(owner_route).then(response=>{
                    this.owner = `${response.data.name}`;
                }).catch(error=>{
                    console.log(error.response.data);
                });
                let driver_route = this.$parent.$refs.getDriverRoute.value+"/"+car.driver_id;

                axios.get(driver_route).then(response=>{
                    this.driver = `${response.data.name}`;
                }).catch(error=>{
                    console.log(error.response.data);
                });

                $("#modalForm").find("div.form-group").removeClass('is-empty');

                $("#modalForm").modal('show');
            },
            newCar(){
                this.clearData();
                this.title='Nuevo';
                $("#modalForm").find("div.form-group").addClass('is-empty');
                $("#modalForm").modal('show');
            },
            storeCar(){
                let route=this.$parent.$refs.storeCarRoute.value;
                //let car=this.car
                axios.post(route,{
                    description:this.car.description.toUpperCase(),//numero de movil
                    driver_id:this.car.driver_id,
                    issued:this.car.issued,
                    person_id:this.car.person_id,
                    plate:this.car.plate.toUpperCase()
                }).then(response=>{
                    demo.showNotification('bottom','right','Agregado correctamente!','success',2000)
                    this.getCars(this.perPage,1,this.searchText);
                    $("#modalForm").modal('hide');
                    this.owner='';
                    this.driver='';
                }).catch(error=>{
                    this.serverErrors=error.response.data.errors;
                    this.hasServErr = true;
                });
            },
            updateCar(){
                let route = this.$parent.$refs.storeCarRoute.value+"/"+this.car.id;
                axios.put(route,{
                    description:this.car.description.toUpperCase(),
                    driver_id:this.car.driver_id,
                    issued:this.car.issued,
                    person_id:this.car.person_id,
                    plate:this.car.plate.toUpperCase()
                }).then(response=>{
                    swal({
                        type:'success',
                        text:'Actualizado correctamente!',
                        timer:2000
                    });
                    this.getCars(this.perPage,1,this.searchText);
                    $("#modalForm").modal('hide');
                }).catch(error=>{
                    this.serverErrors=error.response.data.errors;
                    this.hasServErr = true;
                });
            },
            softDelete(car){
                let route = this.$parent.$refs.storeCarRoute.value+"/"+car.id;
                swal({
                    title: 'Estas seguro?',
                    text: "Serás capaz de revertir esto!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: car.state ?'Si, deshabilitar!':'Si, Activar'
                }).then((result) => {
                    if (result) {
                        axios.delete(route).then(response=>{
                            swal({
                                type:'success',
                                text:'Desactivado correctamente!',
                                timer:2000
                            });
                            this.getCars(this.perPage,1,this.searchText);
                        }).catch(error=>{
                            console.log(error);
                        });
                    }
                    console.log(result);
                });

            },
            changeService(car){
                let route = this.$parent.$refs.storeCarRoute.value+"/"+car.id+"/cambiar-servicio";
                swal({
                    title: 'Estas seguro?',
                    text: "Serás capaz de revertir esto!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: car.in_service ?'Si, Bajar servicio!':'Si, Poner en servicio'
                }).then((result) => {
                    if (result) {
                        axios.post(route).then(response=>{
                            swal({
                                type:'success',
                                text:'Ejecutado correctamente!',
                                timer:2000
                            });
                            this.getCars(this.perPage,1,this.searchText);
                        }).catch(error=>{
                            console.log(error);
                        });
                    }
                    console.log(result);
                });

            },
            selectOwner(owner){
                this.car.person_id=owner.id;
                this.owner=`${owner.name}`;
                this.owners=[];
            },
            selectDriver(driver){
                this.car.driver_id=driver.id;
                this.driver=`${driver.name}`;
                this.drivers=[];
            },


        },
        computed:{
            pagesNumber() {
                if(!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                let pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
        },
        mounted(){
            this.getCars(this.perPage,1,this.searchText);
        }

    }

</script>
<style scoped>
    .list-group{
        position: absolute;
        overflow: auto;
        height: 200px;
        width: 90%;
        z-index: 99;
    }

</style>

