<template>
    <div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Servicio en curso</h4>
                            <!-- search row -->
                            <div class="row">
                                <div class="col-sm-4 col-md-4 form-inline">
                                    <label>Ver
                                        <select class="form-control" v-model="perPage" v-on:change="getRegisters(perPage,1,searchText)">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                        </select>
                                        entradas
                                    </label>

                                </div>
                                
                                <div class="col-sm-8 col-md-8">
                                    <label class="form-group is-empty">
                                        <input type="search"
                                            style="width:500px;! important"
                                            class="form-control"
                                            placeholder="Buscar por telefono o nombre del cliente"
                                            v-model="searchText"
                                            @keyup.enter="getRegisters(perPage,1,searchText)"
                                            @keyup.esc="searchText=''">
                                        <span class="material-input"></span>
                                    </label>
                                </div>
                                
                            </div>
                            <!-- table -->
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Hora Llamada</th>
                                                <th>Cliente</th>
                                                <th>Teléfono</th>
                                                <th>Destino</th>
                                                <th>Móvil</th>
                                                <th width="10%"><i class="material-icons">build</i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="register in registers">
                                                <td>{{register.created_at}}</td>
                                                <td>{{register.people.name}} {{register.people.firstname}} {{register.people.lastname}}</td>
                                                <td>{{register.people.phone}}</td>
                                                <td>{{register.destination_address}}</td>
                                                <td>Movil Nº {{register.car.description}} - {{register.car.driver.name}} {{register.car.driver.firstname}} {{register.car.driver.lastname}}</td>
                                                <td>
                                                    <button class="btn btn-primary btn-sm" @click="endService(register)">Terminar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- pagination -->
                            <div class="row">
                                <ul class="pagination pagination-primary">
                                    <!--
                                        color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                                    -->
                                    <li class="page-item">
                                        <a href="#" :class="{'page-link':true,'disabled':isFirstPage()}" @click.prevent="changePage(perPage,pagination.current_page - 1,searchText)">Ant</a>
                                    </li>
                                    <li :class="{'page-item':true,'active':page === pagination.current_page}" v-for="page in pagesNumber" :key="page">
                                        <a class="page-link" href="#" @click.prevent="changePage(perPage,page,searchText)" v-text="page"></a>
                                    </li>
                                    <li class="page-item" >
                                        <a href="#" :class="{'page-link':true,'disabled':isLastPage()}"  @click.prevent="changePage(perPage,pagination.current_page + 1,searchText)">Sig</a>
                                    </li>
                                </ul>
                            </div>
                    </div>

                </div>
            </div>
        </div>
       


    </div>
</template>

<script>
    export default {
        data(){
            return{
                clients:[],
                registers:[],
                searchTextClient:'',
                searchTextCar:'',
                cars:[],
                client:{
                    id:'',
                    name:'',
                    firstname:'',
                    lastname:'',
                    card_number:'',
                    issued:'',
                    address:'',
                    phone:'',
                    state:'',
                    type:''
                },
                registerCall:{
                    destination_address:'',
                    comment:'',
                    person_id:'',
                },
                pagination : {
                    total : 0,
                    current_page : 0,
                    per_page : 0,
                    last_page : 0,
                    from : 0,
                    to : 0,
                },
                offset : 3,
                name:'',
                card_number:'',
                perPage:5,
                type:'CLIENT',
                serverErrors:[],
                hasServErr:false,
                title:'Nuevo',
                registerCode:'',
                carCode:'',
                address:'',
                searchText:''
            }
        },
        methods:{
            endService(register){
                 swal({
                    title: 'Estas seguro?',
                    text: "Serás capaz de revertir esto!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Finalizar servicio'
                }).then((result) => {
                    if (result) {
                        let route = this.$parent.$refs.endServiceRoute.value;
                        axios.post(route,{
                            id:register.id   
                        }).then(response=>{
                            demo.showNotification('bottom','right','Servicio Completado','success',2000)
                            this.getRegisters(this.perPage,1,this.searchText);
                        }).catch(error=>{
                            console.log(error);
                        });
                    }
                });
                
            },
            
            changePage:function (perPage,page,searchText) {
                this.pagination.current_page = page;
                this.getRegisters(perPage,page,searchText);
            },
            hasServerErrors:function(){

                return this.hasServErr;

            },
            isActived: function(){
                return this.pagination.current_page;
            },
            isLastPage:function(){
                return this.pagination.current_page >= this.pagination.last_page  ;
            },
            isFirstPage:function(){
                return this.pagination.current_page === 1  ;
            },
            getRegisters(perPage,page,searchText){
                let route = this.$parent.$refs.registerLisRoute.value;
                axios({
                    url:route,
                    method:'get',
                    params:{
                        perPage,
                        page,
                        searchText
                    }
                }).then(response=>{
                    this.registers=response.data.data;
                    this.pagination.total=response.data.total;
                    this.pagination.current_page=response.data.current_page;
                    this.pagination.per_page=response.data.per_page;
                    this.pagination.from=response.data.from;
                    this.pagination.last_page=response.data.last_page;
                    this.pagination.to=response.data.to;
                });
            }
           
            
        },
        computed:{
            pagesNumber() {
                if(!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                let pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        mounted(){
            this.getRegisters(this.perPage,1,this.searchText);
        }
    }
</script>

<style scoped>
    .list-group{
        position: absolute;
        overflow: auto;
        height: 200px;
        width: 90%;
        z-index: 99;
    }
</style>