<template>
    <div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Lista de Tarifas</h4>
                        <div class="row">
                            <div class="col-sm-4 form-inline">
                                <label>Ver
                                    <select class="form-control" v-model="perPage" v-on:change="getRates(perPage,1,searchText)">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                    entradas
                                </label>

                            </div>
                            
                            <div class="col-sm-6">
                                <label class="form-group is-empty" style="width:100%;">
                                    <input type="search"
                                           class="form-control text-uppercase"
                                           placeholder="Ingrese destino a buscar"
                                           v-model="searchText"
                                           @keyup.enter="getRates(perPage,1,searchText)"
                                           @keyup.esc="searchText=''">
                                    <span class="material-input"></span>
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary" @click="newRate">Nuevo</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Destino</th>
                                    <th>Precio</th>
                                    <th>Detalles</th>
                                    <th width="10%"><i class="material-icons">build</i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="rate in rates" class="text-uppercase">
                                    <td>{{rate.destination}}</td>
                                    <td>{{rate.price}}</td>
                                    <td>{{rate.comments}}</td>
                                    <td>
                                        <button style="padding: 5px 8px;!important;" type="button" class="btn btn-warning" data-original-title="Editar" title="Editar" @click="edit(rate)">
                                            <i class="material-icons">find_in_page</i>
                                        </button>
                                        <button style="padding: 5px 8px;!important;" type="button" class="btn btn-danger" data-original-title="Editar" title="Eliminar" @click="deleteIt(rate)">
                                            <i class="material-icons">delete</i>
                                        </button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pagination-primary">
                            <!--
                                color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                            -->
                            <li class="page-item">
                                <a href="#" :class="{'page-link':true,'disabled':isFirstPage()}" @click.prevent="changePage(perPage,pagination.current_page - 1,searchText)">Ant</a>
                            </li>
                            <li :class="{'page-item':true,'active':page === pagination.current_page}" v-for="page in pagesNumber" :key="page">
                                <a class="page-link" href="#" @click.prevent="changePage(perPage,page,searchText)" v-text="page"></a>
                            </li>
                            <li class="page-item" >
                                <a href="#" :class="{'page-link':true,'disabled':isLastPage()}"  @click.prevent="changePage(perPage,pagination.current_page + 1,searchText)">Sig</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{title}} Tarifa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div :class="{'form-group':true,'label-floating':true,'is_empty':false}">
                                    <label class="control-label">Destino</label>
                                    <input autocomplete="off" type="text" class="form-control text-uppercase" v-model="rate.destination" name="destino">
                                    <span class="material-input"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Detalles</label>
                                    <textarea autocomplete="off" class="form-control text-uppercase" rows="1" v-model="rate.comments"></textarea>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-md-6">
                                <div :class="{'form-group':true,'label-floating':true,'is_empty':false}">
                                    <label class="control-label">Precio</label>
                                    <input autocomplete="off" type="text" class="form-control text-uppercase" v-model="rate.price" @keyup.enter="storeRate">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group alert alert-danger" v-if="hasServerErrors()">
                            <ul>
                                <li v-for="serverError in serverErrors">
                                    {{ serverError[0] }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button v-if="title==='Nuevo'" type="button" class="btn btn-success" @click="storeRate">Guardar</button>
                        <button v-if="title==='Editar'" type="button" class="btn btn-success" @click="updateRate">Guardar Cambios</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                rates:[],
                title:'Nuevo',
                pagination : {
                    total : 0,
                    current_page : 0,
                    per_page : 0,
                    last_page : 0,
                    from : 0,
                    to : 0,
                },
                rate:{
                    id:'',
                    destination:'',
                    price:'',
                    comments:'',
                },
                offset : 3,
                searchText:'',
                perPage:5,
                serverErrors:[],
                hasServErr:false,
            }
        },
        methods:{
            clearData(){
                this.rate={
                    id:'',
                    destination:'',
                    price:'',
                    comments:'',
                };
                this.serverErrors=[];
                this.hasServErr = false;
                this.title='Nuevo';
            },
            changePage:function (perPage,page,searchText) {
                this.pagination.current_page = page;
                this.getRates(perPage,page,searchText);
            },
            hasServerErrors:function(){

                return this.hasServErr;

            },
            getRates(perPage,page,searchText){

                let route = this.$parent.$refs.listRateRoute.value;

                axios({
                    url:route,
                    method:'get',
                    params:{
                        perPage,
                        page,
                        searchText
                    }
                }).then(response=>{
                    this.rates=response.data.data;
                    this.pagination.total=response.data.total;
                    this.pagination.current_page=response.data.current_page;
                    this.pagination.per_page=response.data.per_page;
                    this.pagination.from=response.data.from;
                    this.pagination.last_page=response.data.last_page;
                    this.pagination.to=response.data.to;
                }).catch(error=>{
                    if(error.response.status==401 || error.response.status==419)
                        swal({
                            title:"Sesión expirada!",
                            text: "Por favor inicia sesión",
                            type: 'warning',
                        }).then((result)=>{
                            if(result)
                                location.reload();
                        }).catch(error=>{
                            console.log(error);
                        });
                });
            },
            isActived: function(){
                return this.pagination.current_page;
            },
            isLastPage:function(){
                return this.pagination.current_page >= this.pagination.last_page  ;
            },
            isFirstPage:function(){
                return this.pagination.current_page === 1  ;
            },
            edit(rate){

                this.title='Editar';
                this.rate.id=rate.id;
                this.rate.comments=rate.comments;
                this.rate.price=rate.price;
                this.rate.destination=rate.destination;

                $("#modalForm").find("div.form-group").removeClass('is-empty');

                $("#modalForm").modal('show');
            },
            newRate(){
                this.clearData();
                this.title='Nuevo';
                $("#modalForm").find("div.form-group").addClass('is-empty');
                $("#modalForm").modal('show');
            },
            storeRate(){
                let route=this.$parent.$refs.storeRateRoute.value;
                //let car=this.car
                axios.post(route,{
                    comments:this.rate.comments?this.rate.comments.toUpperCase():'',
                    price:this.rate.price,
                    destination:this.rate.destination.toUpperCase(),
                }).then(response=>{
                    demo.showNotification('bottom','right','Agregado correctamente!','success',2000)
                    this.getRates(this.perPage,1,this.searchText);
                    this.rate={
                        id:'',
                        destination:'',
                        price:'',
                        comments:'',
                    };
                    this.serverErrors=[];
                    this.hasServErr=false;
                    $("#modalForm").modal('hide');
                }).catch(error=>{
                    this.serverErrors=error.response.data.errors;
                    this.hasServErr = true;
                    if(error.response.status==401 || error.response.status==419)
                        swal({
                            title:"Sesión expirada!",
                            text: "Por favor inicia sesión",
                            type: 'warning',
                        }).then((result)=>{
                            if(result)
                                location.reload();
                        }).catch(error=>{
                            console.log(error);
                        });
                });
            },
            updateRate(){
                let route = this.$parent.$refs.indexRateRoute.value+"/"+this.rate.id;
                axios.put(route,{
                    comments:this.rate.comments?this.rate.comments.toUpperCase():'',
                    price:this.rate.price,
                    destination:this.rate.destination.toUpperCase(),
                }).then(response=>{
                    swal({
                        type:'success',
                        text:'Actualizado correctamente!',
                        timer:2000
                    });
                    this.getRates(this.perPage,1,this.searchText);
                    this.rate={
                        id:'',
                        destination:'',
                        price:'',
                        comments:'',
                    };
                    this.serverErrors=[];
                    this.hasServErr=false;
                    $("#modalForm").modal('hide');
                }).catch(error=>{
                    this.serverErrors=error.response.data.errors;
                    this.hasServErr = true;
                    if(error.response.status==401 || error.response.status==419)
                        swal({
                            title:"Sesión expirada!",
                            text: "Por favor inicia sesión",
                            type: 'warning',
                        }).then((result)=>{
                            if(result)
                                location.reload();
                        }).catch(error=>{
                            console.log(error);
                        });
                });
            },
            deleteIt(rate){
                let route = this.$parent.$refs.indexRateRoute.value+"/"+rate.id;
                swal({
                    title: 'Estas seguro?',
                    text: "NO Serás capaz de revertir esto!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Eliminar'
                }).then((result) => {
                    if (result) {
                        axios.delete(route).then(response=>{
                            swal({
                                type:'success',
                                text:'Eliminado correctamente!',
                                timer:2000
                            });
                            this.getRates(this.perPage,1,this.searchText);
                        }).catch(error=>{
                            if(error.response.status==401 || error.response.status==419)
                            swal({
                                title:"Sesión expirada!",
                                text: "Por favor inicia sesión",
                                type: 'warning',
                            }).then((result)=>{
                                if(result)
                                    location.reload();
                            }).catch(error=>{
                                console.log(error);
                            });
                        });
                    }
                });

            }

        },
        computed:{
            pagesNumber() {
                if(!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                let pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
        },
        mounted(){
            this.getRates(this.perPage,1,this.searchText);
        }

    }

</script>
<style scoped>
    .list-group{
        position: absolute;
        overflow: auto;
        height: 200px;
        width: 90%;
        z-index: 99;
    }

</style>

