<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">settings_phone</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Registro de Llamadas</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Ingrese número de teléfono</label>
                                    <input type="text" class="form-control" v-model="client.phone" @keyup="getPeople(client,'CLIENT')" @keyup.esc="clearClient" ref="clientPhone">
                                    <span class="material-input"></span>
                                </div>
                                <div :class="{'list-group':true}" v-if="clients.length" ref="clientlist">
                                    <a href="#"
                                       class="list-group-item list-group-item-action"
                                       @click.prevent="selectClient(client)"
                                       v-for="client in clients">
                                        <span><strong>Teléfono: </strong>{{client.phone}}</span><br>
                                        <span><strong>Cliente: </strong>{{client.name}}</span><br>
                                        <span><strong>Dirección: </strong>{{client.address}}</span>
                                    </a>
                                </div>
                                <div class="form-group label-floating is-empty" ref="clientName">
                                    <label class="control-label">Cliente</label>
                                    <input autocomplete="off" type="text" 
                                    class="form-control text-uppercase" 
                                    v-model="client.name" name="color" @keyup.esc="client.name=''" >
                                    <span class="material-input"></span>
                                </div>
                                <div class="form-group label-floating is-empty" ref="clientAddress">
                                    <label class="control-label">Dirección</label>
                                    <input autocomplete="off" type="text" 
                                    class="form-control text-uppercase" 
                                    v-model="client.address" name="color" @keyup.esc="client.address=''" >
                                    <span class="material-input"></span>
                                </div>
                                <div class="form-group label-floating is-empty" ref="clientComments">
                                    <label class="control-label">Comentarios</label>
                                    <input autocomplete="off" type="text" 
                                    class="form-control text-uppercase" 
                                    v-model="client.comments" name="color" @keyup.esc="client.comments=''" >
                                    <span class="material-input"></span>
                                </div>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Direccion de destino</label>
                                    <input autocomplete="off" type="text" 
                                    class="form-control text-uppercase" 
                                    v-model="registerCall.destination_address" 
                                    name="color" @keyup.esc="registerCall.destination_address=''">
                                    <span class="material-input"></span>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <!--<button class="btn btn-primary" @click="newClient">Nuevo Cliente</button>-->
                                <button :disabled="isFormInvalid" 
                                class="btn btn-primary" @click="saveRegister">Guardar Llamada</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Llamadas sin vehículo asignado</h4>
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-4 form-inline">
                                    <label>Ver
                                        <select class="form-control" v-model="perPage" v-on:change="getRegisters(perPage,1,searchText)">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                        </select>
                                        entradas
                                    </label>

                                </div>
                                
                                <div class="col-sm-6">
                                    <label class="form-group is-empty">
                                        <input
                                            style="width:400px;" 
                                            type="search"
                                            class="form-control text-uppercase"
                                            placeholder="Buscar por nombre o teléfono del cliente"
                                            v-model="searchText"
                                            @keyup.enter="getRegisters(perPage,1,searchText)"
                                            @keyup.esc="searchText=''">
                                        <span class="material-input"></span>
                                    </label>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary" @click="getRegisters(perPage,1,searchText)">Buscar</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Hora Llamada</th>
                                            <th>Telefono</th>
                                            <th>Cliente</th>
                                            <th>Comentarios</th>
                                            <th>Destino</th>
                                            <th width="10%"><i class="material-icons">build</i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="register in registers">
                                            <td>{{register.created_at}}</td>
                                            <td>{{register.people.phone}}</td>
                                            <td>{{register.people.name}} {{register.people.firstname}} {{register.people.lastname}}</td>
                                            <td>{{register.people.comments}}</td>
                                            <td v-show="register.editing">
                                                <input type="text" class="form-control text-uppercase" v-model="register.destination_address">
                                            </td>
                                            <td v-show="!register.editing">
                                                {{register.destination_address}}
                                            </td>
                                            <td>
                                                <button v-show="!register.editing" 
                                                        title="Editar Destino" 
                                                        class="btn btn-warning btn-sm"
                                                        @click="editDestination(register)" 
                                                        style="padding:7px;"><i class="material-icons">trending_up</i>
                                                </button>
                                                <button v-show="register.editing" 
                                                        title="Guardar Destino" 
                                                        class="btn btn-success btn-sm" 
                                                        @click="saveDestination(register)" 
                                                        style="padding:7px;"><i class="material-icons">save</i>
                                                </button>
                                                 <button title="Asignar Vehículo" 
                                                        class="btn btn-primary btn-sm" 
                                                        @click="showAssignCar(register)" 
                                                        style="padding:7px;"><i class="material-icons">directions_car</i>
                                                </button>
                                                 
                                                 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination pagination-primary">
                                <!--
                                    color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                                -->
                                <li class="page-item">
                                    <a href="#" :class="{'page-link':true,'disabled':isFirstPage()}" @click.prevent="changePage(perPage,pagination.current_page - 1,searchText)">Ant</a>
                                </li>
                                <li :class="{'page-item':true,'active':page === pagination.current_page}" v-for="page in pagesNumber" :key="page">
                                    <a class="page-link" href="#" @click.prevent="changePage(perPage,page,searchText)" v-text="page"></a>
                                </li>
                                <li class="page-item" >
                                    <a href="#" :class="{'page-link':true,'disabled':isLastPage()}"  @click.prevent="changePage(perPage,pagination.current_page + 1,searchText)">Sig</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="modal fade" id="modalFormAssign" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Asignar Vehículo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating is-empty"  ref="carNumber">
                                    <label class="control-label">Nº Móvil</label>
                                    <input autocomplete="off" type="text" class="form-control" v-model="searchTextCar" @keyup="getCars" name="carNumber">
                                    <span class="material-input"></span>
                                </div>
                                <div class="list-group" v-if="cars.length" ref="carslist">
                                    <a href="#"
                                       class="list-group-item list-group-item-action"
                                       @click.prevent="selectCar(car)"
                                       v-for="car in cars">
                                        <span><strong>Vehículo: </strong>{{car.plate}} - {{car.issued}}</span>
                                        <span><strong>Móvil Nº:</strong> {{car.description}}</span>
                                         <br>      
                                        <span><strong>Conductor: </strong>{{car.driver.name}}</span>
                                        
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h6 class="text-center alert alert-info" style="padding:0;">VEHICULOS EN SERVICIO</h6>
                                <div class="list-group" v-if="carList.length" ref="carslist">
                                    <a href="#"
                                       class="list-group-item list-group-item-action"
                                       @click.prevent="selectCar(car)"
                                       v-for="car in carList">
                                        <span><strong>Vehículo: </strong>{{car.plate}} - {{car.issued}}</span>
                                        <span><strong>Móvil Nº:</strong> {{car.description}}</span>
                                         <br>      
                                        <span><strong>Conductor: </strong>{{car.driver.name}}</span>
                                        
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button v-if="title==='Nuevo'" :disabled="!carCode" type="button" class="btn btn-success" @click="assignCar">Guardar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        data(){
            return{
                clients:[],
                registers:[],
                searchTextClient:'',
                searchTextCar:'',
                cars:[],
                carList:[],
                client:{
                    id:'',
                    name:'',
                    address:'',
                    comments:'',
                    phone:'',
                    state:'',
                    type:'CLIENT'
                },
                registerCall:{
                    destination_address:'',
                    comment:'',
                    person_id:'',
                },
                pagination : {
                    total : 0,
                    current_page : 0,
                    per_page : 0,
                    last_page : 0,
                    from : 0,
                    to : 0,
                },
                offset : 3,
                name:'',
                card_number:'',
                perPage:5,
                type:'CLIENT',
                serverErrors:[],
                hasServErr:false,
                title:'Nuevo',
                registerCode:'',
                carCode:'',
                address:'',
                searchText:'',
                newDestination:''
            }
        },
        methods:{
            
            assignCar(){
                if(this.carCode){
                    let route = this.$parent.$refs.assignCarRoute.value;
                    axios.post(route,{
                        car_id:this.carCode,
                        id:this.registerCode   
                    }).then(response=>{
                        demo.showNotification('bottom','right','Asignado correctamente!','success',2000)
                        this.getRegisters(this.perPage,1,this.searchText);
                        $("#modalFormAssign").modal('hide');
                    }).catch(error=>{
                        if(error.response.status==401 || error.response.status==419)
                                swal({
                                    title:"Sesión expirada!",
                                    text: "Por favor inicia sesión",
                                    type: 'warning',
                                }).then((result)=>{
                                    if(result)
                                        location.reload();
                                }).catch(error=>{
                                    console.log(error);
                                });

                    });
                }
                else{
                    demo.showNotification('bottom','right','Elija a un Móvil','danger',2000);
                }
                
            },
            editDestination(register){
                register.editing=true;
                //this.newDestination=register.destination_address;
            },
            saveDestination(register){
                let route = this.$parent.$refs.saveDestinationRoute.value+"/"+register.id;
                axios.put(route,{
                    destination_address:register.destination_address?register.destination_address.toUpperCase():''
                }).then(respones=>{

                    demo.showNotification('bottom','right','Editado correctamente!','success',2000);
                    register.editing=false;
                    register.destination_address=register.destination_address?register.destination_address.toUpperCase():'';
                    
                }).catch(error=>{
                    demo.showNotification('bottom','right','Ocurrio un error vuelva a intentarlo','danger',2000);
                    if(error.response.status==401  || error.response.status==419)
                        swal({
                            title:"Sesión expirada!",
                            text: "Por favor inicia sesión",
                            type: 'warning',
                        }).then((result)=>{
                            if(result)
                                location.reload();
                        }).catch(error=>{
                            console.log(error);
                        });

                });
            },
            saveRegister(){
                let route = this.$parent.$refs.saveRegisterRoute.value;
                this.client.name=this.client.name?this.client.name.toUpperCase():'';
                this.client.address=this.client.address?this.client.address.toUpperCase():'';
                this.client.comments=this.client.comments?this.client.comments.toUpperCase():'';
                axios.post(route,{
                    destination_address:this.registerCall.destination_address?this.registerCall.destination_address.toUpperCase():'',
                    client:this.client,
                }).then(response=>{
                     demo.showNotification('bottom','right','Agregado correctamente!','success',2000);
                     this.registerCall={
                                        destination_address:'',
                                        comment:'',
                                        person_id:'',
                                    };
                                    this.searchTextClient='';
                                    this.clearData();

                     this.getRegisters(this.perPage,1,this.searchText);
                }).catch(error=>{
                    demo.showNotification('bottom','right','El formulario contiene errores','danger',2000);
                    if(error.response.status==401  || error.response.status==419)
                        swal({
                            title:"Sesión expirada!",
                            text: "Por favor inicia sesión",
                            type: 'warning',
                        }).then((result)=>{
                            if(result)
                                location.reload();
                        }).catch(error=>{
                            console.log(error);
                        });

                });
            },
            showAssignCar(register){
                $("#modalFormAssign").modal('show');
                this.registerCode=register.id;
               
            },
            clearData(){
                this.client.id='';
                this.client.name='';
                this.client.address='';
                this.client.comments='';
                this.client.phone='';
                this.client.type='CLIENT';
                this.client.state='';
                this.serverErrors=[];
                this.hasServErr = false;
                this.title='Nuevo';
            },
            clearClient(){
                this.searchTextClient='';
                this.registerCall.person_id='';
                $(this.$refs.searchTextClient).addClass('is-empty');
            },
            changePage:function (perPage,page,searchText) {
                this.pagination.current_page = page;
                this.getRegisters(perPage,page,searchText);
            },
            hasServerErrors:function(){

                return this.hasServErr;

            },
            isActived: function(){
                return this.pagination.current_page;
            },
            isLastPage:function(){
                return this.pagination.current_page >= this.pagination.last_page  ;
            },
            isFirstPage:function(){
                return this.pagination.current_page === 1  ;
            },
            getRegisters(perPage,page,searchText){
                
                let route = this.$parent.$refs.registerLisRoute.value;
                axios({
                    url:route,
                    method:'get',
                    params:{
                        perPage,
                        page,
                        searchText
                    }
                }).then(response=>{
                    let data=response.data.data;
                    this.pagination.total=response.data.total;
                    this.pagination.current_page=response.data.current_page;
                    this.pagination.per_page=response.data.per_page;
                    this.pagination.from=response.data.from;
                    this.pagination.last_page=response.data.last_page;
                    this.pagination.to=response.data.to;

                    data.forEach(register => {
                        register.editing=false;
                    });

                    this.registers=data;
                    
                }).catch(error=>{
                    if(error.response.status==401  || error.response.status==419)
                        swal({
                            title:"Sesión expirada!",
                            text: "Por favor inicia sesión",
                            type: 'warning',
                        }).then((result)=>{
                            if(result)
                                location.reload();
                        }).catch(error=>{
                            console.log(error);
                        });
                });
            },
            getPeople(phone,type) {
                    if(this.client.phone=='')
                            this.clients=[];
                    else{
                        let route=this.$parent.$refs.listClientRoute.value;
                        axios({
                            url:route,
                            params:{
                                phone:this.client.phone
                            }
                        }).then(response=>{
                            this.clients=response.data;
                        }).catch(error=>{
                            if(error.response.status==401 || error.response.status==419)
                                swal({
                                    title:"Sesión expirada!",
                                    text: "Por favor inicia sesión",
                                    type: 'warning',
                                }).then((result)=>{
                                    if(result)
                                        location.reload();
                                }).catch(error=>{
                                    console.log(error);
                                });

                                
                        });
                    }        
                    
            },
            getCars(){
                if(this.searchTextCar==''){
                    this.cars=[];
                    return
                }
                let route = this.$parent.$refs.listCarRoute.value;
                axios({
                    url:route,
                    params:{
                        searchText:this.searchTextCar
                    }
                }).then(response=>{
                    this.cars=response.data;
                }).catch(error=>{
                    if(error.response.status==401 || error.response.status==419)
                        swal({
                            title:"Sesión expirada!",
                            text: "Por favor inicia sesión",
                            type: 'warning',
                        }).then((result)=>{
                            if(result)
                                location.reload();
                        }).catch(error=>{
                            console.log(error);
                        });

                });
            },
            getCarList(){
                let route = this.$parent.$refs.listCarRoute.value;
                axios.get(route).then(response=>{
                    this.carList=response.data;
                }).catch(error=>{
                    //console.log(response);
                });
            },
            newClient(){
                this.clearData();
                this.title='Nuevo';
                $("#modalForm").find("div.form-group").addClass('is-empty');
                $("#modalForm").modal('show');
            },
            selectClient(client){
                this.client=client;

                this.registerCall.person_id=client.id;
                this.searchTextClient=`${client.name} ${client.firstname} ${client.lastname}`;
                $(this.$refs.clientPhone).removeClass('is-empty');
                $(this.$refs.clientName).removeClass('is-empty');
                $(this.$refs.clientAddress).removeClass('is-empty');
                $(this.$refs.clientComments).removeClass('is-empty');
                this.clients=[];
            },
            selectCar(car){
                this.searchTextCar=`${car.plate}-${car.issued} Móvil: ${car.description}`;

                this.carCode=car.id;
                this.cars=[];
                $(this.$refs.carNumber).removeClass('is-empty');
            }
            
        },
        computed:{
            pagesNumber() {
                if(!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                let pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
            isFormInvalid(){
                return this.client.name=='' || this.client.address=='' || this.client.phone==''; 
            },
        },
        mounted(){
            this.getRegisters(this.perPage,1,this.searchText);
            this.getCarList();
        }
    }
</script>

<style scoped>
    .list-group{
        position: absolute;
        overflow: auto;
        height: 200px;
        width: 90%;
        z-index: 99;
    }
</style>